{
    "extends": "airbnb",
    "rules": {
      "import/no-extraneous-dependencies": "off",
      "linebreak-style": "off",
      "consistent-return": "off",
      "no-param-reassign": "off", 
      "no-underscore-dangle": "off"
    }
}